:root {
    --prm: #FF6B00;
    --prm-light: #FF9100;
    --prm-dark: #C45000;

    --scd: #00E5FF;
    --scd-light: #5CFFFF;
    --scd-dark: #0095A8;

    --bg: #0D0D0D;
    --bg-light: #1A1A1A;
    --bg-dark: #050505;

    --text: #E0E0E0;
    --text-muted: #B0B0B0;
    --text-inverted: #0D0D0D;

    --acc: #FFD700;
    /* Gold */
    --acc-light: #FFEE99;
    /* Lighter Gold */
    --acc-dark: #B38F00;
    /* Darker Gold */

    --err: #FF3B3B;
    --success: #4CAF50;
    --warn: #FF9800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, monospace;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: var(--bg-dark);
    width: 100vw;
    min-height: 100vh;
}

.col {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    padding: 1%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

}


.col>div {
    background-color: var(--bg);
    margin: 0.5em;
    padding: 1em;
    font-size: 1.5em;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--acc-dark);
    /* Glowing effect */
}

.link {
    text-decoration: none;
    /* Removes underline */
    color: var(--prm);
    /* Uses your theme color */
    font-weight: bold;
    /* Makes text bold */
    font-size: 1em;
    /* Adjust size */
}

.link:hover {
    color: var(--scd);
    /* Changes color on hover */
    text-decoration: underline;
    /* Adds underline on hover */
}


@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .col {
        flex: 1 1 100%;
        max-width: 90%;
    }
}